<link rel="stylesheet" href="__STATIC__/admin/css/welcome.css?v={$version}" media="all">
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <!-- 左侧部分 -->
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">
                    <!-- 数据统计 -->
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-warning icon"></i>数据统计</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-blue">实时</span>
                                                        <h5>用户统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">0</h1>
                                                        <small>当前分类总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-cyan">实时</span>
                                                        <h5>商品统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">0</h1>
                                                        <small>当前分类总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-orange">实时</span>
                                                        <h5>浏览统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">0</h1>
                                                        <small>当前分类总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6">
                                            <div class="panel layui-bg-number">
                                                <div class="panel-body">
                                                    <div class="panel-title">
                                                        <span class="label pull-right layui-bg-green">实时</span>
                                                        <h5>订单统计</h5>
                                                    </div>
                                                    <div class="panel-content">
                                                        <h1 class="no-margins">0</h1>
                                                        <small>当前分类总记录数</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 快捷入口 -->
                    <div class="layui-col-md6">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>快捷入口</div>
                            <div class="layui-card-body">
                                <div class="welcome-module">
                                    <div class="layui-row layui-col-space10 layuimini-qiuck">
                                        {foreach $quicks as $vo}
                                        <div class="layui-col-xs3 layuimini-qiuck-module">
                                            <a layuimini-content-href="{:url($vo['href'])}" data-title="{$vo['title']}">
                                                <i class="{$vo['icon']|raw}"></i>
                                                <cite>{$vo['title']}</cite>
                                            </a>
                                        </div>
                                        {/foreach}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 报表统计 -->
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-line-chart icon"></i>报表统计</div>
                            <div class="layui-card-body">
                                <div id="echarts-records" style="width: 100%;min-height:500px"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 访问信息 -->
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-user icon icon-blue"></i>访问信息</div>
                            <div class="layui-card-body overflow-auto">
                                <table class="layui-table">
                                    <tbody>
                                    <tr>
                                        <td class="bold">用户系统</td>
                                        <td>{$systemInfo.user_os}</td>
                                        <td class="bold">用户IP</td>
                                        <td>{$systemInfo.user_ip}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">浏览器</td>
                                        <td>{$systemInfo.user_browser}</td>
                                        <td class="bold">所在城市</td>
                                        <td>{$systemInfo.user_ip_address}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {if isset($systemInfo)}
                    <!-- 系统信息 -->
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><i class="fa fa-windows icon icon-cray"></i>系统信息</div>
                            <div class="layui-card-body overflow-auto">
                                <table class="layui-table">
                                    <tbody>
                                    <tr>
                                        <td class="bold">ThinkPHP版本</td>
                                        <td>{$systemInfo.think_version}</td>
                                        <td class="bold" id="admin_version" style="cursor: pointer;">后台系统版本</td>
                                        <td>{$systemInfo.admin_version}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">服务器系统</td>
                                        <td>{$systemInfo.server_os}</td>
                                        <td class="bold">服务器IP</td>
                                        <td>{$systemInfo.server_ip}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">服务器软件</td>
                                        <td>{$systemInfo.server_software}</td>
                                        <td class="bold">服务器软件端口</td>
                                        <td>{$systemInfo.server_port}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">PHP版本</td>
                                        <td>{$systemInfo.php_version}</td>
                                        <td class="bold">MySQL版本</td>
                                        <td>{$systemInfo.db_version}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">最大文件上传限制</td>
                                        <td>{$systemInfo.upload_max_filesize}</td>
                                        <td class="bold">单次上传数量限制</td>
                                        <td>{$systemInfo.max_file_uploads}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">最大POST限制</td>
                                        <td>{$systemInfo.post_max_size}</td>
                                        <td class="bold">项目磁盘剩余容量</td>
                                        <td>{$systemInfo.disk_free}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">运行内存限制</td>
                                        <td>{$systemInfo.memory_limit}</td>
                                        <td class="bold">PHP当前运行模式</td>
                                        <td>{$systemInfo.php_sapi_name}</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">PHP当前时区</td>
                                        <td>{$systemInfo.timezone}</td>
                                        <td class="bold">PHP当前时间</td>
                                        <td>{$systemInfo.date_time}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 系统依赖 -->
                    <div class="layui-hide" id="dependencies">
                        <table class="layui-table">
                            <tbody>
                            {foreach name='systemInfo.require_list' id='item'}
                            <tr>
                                <td class="bold">{$key}</td>
                                <td>{$item}</td>
                            </tr>
                            {/foreach}
                            {foreach name='systemInfo.require_dev_list' id='item'}
                            <tr>
                                <td class="bold">{$key}</td>
                                <td>{$item}</td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    {/if}
                </div>
            </div>
            <!-- 右侧部分 -->
            <div class="layui-col-md4">
                <!-- 系统公告 -->
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>系统公告</div>
                    <div class="layui-card-body layui-text">
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">修改选项卡样式</div>
                            <div class="layuimini-notice-extra">2019-07-11 23:06</div>
                            <div class="layuimini-notice-content layui-hide">
                                界面足够简洁清爽。<br>
                                一个接口几行代码而已直接初始化整个框架，无需复杂操作。<br>
                                支持多tab，可以打开多窗口。<br>
                                支持无限级菜单和对font-awesome图标库的完美支持。<br>
                                失效以及报错菜单无法直接打开，并给出弹出层提示完美的线上用户体验。<br>
                                url地址hash定位，可以清楚看到当前tab的地址信息。<br>
                                刷新页面会保留当前的窗口，并且会定位当前窗口对应左侧菜单栏。<br>
                                移动端的友好支持。<br>
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">新增系统404模板</div>
                            <div class="layuimini-notice-extra">2019-07-11 12:57</div>
                            <div class="layuimini-notice-content layui-hide">
                                界面足够简洁清爽。<br>
                                一个接口几行代码而已直接初始化整个框架，无需复杂操作。<br>
                                支持多tab，可以打开多窗口。<br>
                                支持无限级菜单和对font-awesome图标库的完美支持。<br>
                                失效以及报错菜单无法直接打开，并给出弹出层提示完美的线上用户体验。<br>
                                url地址hash定位，可以清楚看到当前tab的地址信息。<br>
                                刷新页面会保留当前的窗口，并且会定位当前窗口对应左侧菜单栏。<br>
                                移动端的友好支持。<br>
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">新增treetable插件和菜单管理样式</div>
                            <div class="layuimini-notice-extra">2019-07-05 14:28</div>
                            <div class="layuimini-notice-content layui-hide">
                                界面足够简洁清爽。<br>
                                一个接口几行代码而已直接初始化整个框架，无需复杂操作。<br>
                                支持多tab，可以打开多窗口。<br>
                                支持无限级菜单和对font-awesome图标库的完美支持。<br>
                                失效以及报错菜单无法直接打开，并给出弹出层提示完美的线上用户体验。<br>
                                url地址hash定位，可以清楚看到当前tab的地址信息。<br>
                                刷新页面会保留当前的窗口，并且会定位当前窗口对应左侧菜单栏。<br>
                                移动端的友好支持。<br>
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">修改logo缩放问题</div>
                            <div class="layuimini-notice-extra">2019-07-04 11:02</div>
                            <div class="layuimini-notice-content layui-hide">
                                界面足够简洁清爽。<br>
                                一个接口几行代码而已直接初始化整个框架，无需复杂操作。<br>
                                支持多tab，可以打开多窗口。<br>
                                支持无限级菜单和对font-awesome图标库的完美支持。<br>
                                失效以及报错菜单无法直接打开，并给出弹出层提示完美的线上用户体验。<br>
                                url地址hash定位，可以清楚看到当前tab的地址信息。<br>
                                刷新页面会保留当前的窗口，并且会定位当前窗口对应左侧菜单栏。<br>
                                移动端的友好支持。<br>
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">修复左侧菜单缩放tab无法移动</div>
                            <div class="layuimini-notice-extra">2019-06-17 11:55</div>
                            <div class="layuimini-notice-content layui-hide">
                                界面足够简洁清爽。<br>
                                一个接口几行代码而已直接初始化整个框架，无需复杂操作。<br>
                                支持多tab，可以打开多窗口。<br>
                                支持无限级菜单和对font-awesome图标库的完美支持。<br>
                                失效以及报错菜单无法直接打开，并给出弹出层提示完美的线上用户体验。<br>
                                url地址hash定位，可以清楚看到当前tab的地址信息。<br>
                                刷新页面会保留当前的窗口，并且会定位当前窗口对应左侧菜单栏。<br>
                                移动端的友好支持。<br>
                            </div>
                        </div>
                        <div class="layuimini-notice">
                            <div class="layuimini-notice-title">修复多模块菜单栏展开有问题</div>
                            <div class="layuimini-notice-extra">2019-06-13 14:53</div>
                            <div class="layuimini-notice-content layui-hide">
                                界面足够简洁清爽。<br>
                                一个接口几行代码而已直接初始化整个框架，无需复杂操作。<br>
                                支持多tab，可以打开多窗口。<br>
                                支持无限级菜单和对font-awesome图标库的完美支持。<br>
                                失效以及报错菜单无法直接打开，并给出弹出层提示完美的线上用户体验。<br>
                                url地址hash定位，可以清楚看到当前tab的地址信息。<br>
                                刷新页面会保留当前的窗口，并且会定位当前窗口对应左侧菜单栏。<br>
                                移动端的友好支持。<br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 时钟 -->
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-clock-o icon"></i>本地时间</div>
                    <div class="layui-card-body">
                        <div id="echarts-clock" style="width: 100%;min-height:400px;"></div>
                    </div>
                </div>
                <!-- 版本信息 -->
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-fire icon"></i>版本信息</div>
                    <div class="layui-card-body layui-text">
                        <table class="layui-table">
                            <tbody>
                            <tr>
                                <td>框架名称</td>
                                <td>
                                    EasyAdmin
                                </td>
                            </tr>
                            <tr>
                                <td>当前版本</td>
                                <td>v{:sysconfig('site', 'site_version')}</td>
                            </tr>
                            <tr>
                                <td>主要特色</td>
                                <td>零门槛 / 响应式 / 清爽 / 极简</td>
                            </tr>
                            <tr>
                                <td>Gitee</td>
                                <td>
                                    <div class="layui-btn-container">
                                        <a target="_blank" href="https://gitee.com/cshaptx4869/easyadmin" style="margin-right: 15px"><img src="https://gitee.com/cshaptx4869/easyadmin/badge/star.svg?theme=dark" alt="star"></a>
                                        <a target="_blank" href="https://gitee.com/cshaptx4869/easyadmin"><img src="https://gitee.com/cshaptx4869/easyadmin/badge/fork.svg?theme=dark" alt="fork"></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Github</td>
                                <td>
                                    <div class="layui-btn-container">
                                        <iframe src="https://ghbtns.com/github-btn.html?user=cshaptx4869&repo=easyadmin&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                        <iframe src="https://ghbtns.com/github-btn.html?user=cshaptx4869&repo=easyadmin&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 作者心语 -->
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-paper-plane-o icon"></i>作者心语</div>
                    <div class="layui-card-body">
                        <p>本模板基于layui2.8.17进行实现。layui开发文档地址：<a class="layui-btn layui-btn-xs layui-btn-danger" target="_blank" href="https://layui.dev">layui文档</a></p>
                        <p>技术交流QQ群：<a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5JRGVfe"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="layuimini" title="layuimini"></a>（加群请备注来源：如gitee、github、官网等）</p>
                        <p>喜欢此后台模板的可以给我的GitHub和Gitee加个Star支持一下</p>
                        <p class="layui-red">备注：此后台框架永久开源，但请勿进行出售或者上传到任何素材网站，否则将追究相应的责任。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>